@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800;900&display=swap');

:root{
    --bg-primary: #fafff6;
    --bg-secondary: #333333;
    --bg-cta: #dff8ca;
    --bg-accent: #6da74b;
    --bg-accent-dark: #005914;
    --text-white:  #f8f8fa;
}


body{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    background-color: var(--bg-primary);
    color: var(--bg-secondary);
}

.section{
    padding-top: 6.25rem;
    padding-bottom: 6.25rem;
}

.btn-primary{
    background-color: var(--bg-accent);
    color: #ffffff;
    font-weight: bold;
    border-color: var(--bg-accent);
}

.btn-primary:hover,
.btn-primary:active
{
    background-color: var(--bg-accent) !important;
    opacity: 0.9;
    border-color: var(--bg-accent) !important;
    color: #ffffff !important;
}

.btn-dark{
    background-color: var(--bg-secondary);
    color: #ffffff;
    font-weight: bold;
    border-color: var(--bg-secondary);
}

.btn-dark:hover,
.btn-dark:active
{
    background-color: var(--bg-secondary) !important;
    opacity: 0.9;
    border-color: var(--bg-secondary) !important;
    color: #ffffff !important;
}

.text-small{
    font-size: calc(1rem - 3px);
}

.text-primary{
    color: var(--text-white) !important;
}

.text-dark{
    color: var(--bg-secondary) !important;
}

.bg-primary{
    background-color: var(--bg-primary) !important;
}

.contact{
    border-bottom: 0.04375rem solid #656565;
}

.offcanvas.offcanvas-end{
    width: 350px !important;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover,
.navbar-nav a.nav-link:active {
    font-weight: 700;
}

.bg-white .nav-link.active,
.bg-white .nav-link:hover,
.bg-white .nav-link:active{
    color: var(--bg-accent-dark) !important;
    font-weight: 700;
}

#home{
    background-image: url(../images/hero-img-overlay.svg);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    height: 75vh;
    min-height: 34.375rem;
}

.hero-content{
    width: 80%;
}

.hero-text{
    font-size: 3.25rem;
}

.hero-sub-text{ 
    width: 70%;
}


.rectangle-blob{
    margin-top: 5.3125rem;
    left: 0.1875rem;
}

.services{
    width: 17.7rem;
}

.services-icon{
    width: 3.125rem;
    height: 3.125rem;
}

#products{
    background-color: #F8F8FA;
    background-image: url(../images/product-bg-image.svg);
    background-size: 45%;
    background-repeat: no-repeat;
    background-position: 97% 52%;
    background-attachment: fixed;
}

.product-content{
    max-width: 30rem;
}



.second-rectangle{
    margin-top: -3rem;
}

.rect, .rect-small{
    position: relative;
    border: 1px solid transparent;
    width: 15.62rem;
    height: 16.25rem;
    background-color: #d9d9d9;
    overflow: hidden;
}

.rect-small{
    height: 9.68rem;
}

.product-overlay{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #164c2069;
}

.product-img {
    object-fit: contain;
    width: 100%;
    max-width: 100%;
    height: auto;
}

.product-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #F8F8FA;
    font-weight: bold;
    text-align: center;
    line-height: 1rem;
    margin-bottom: 0;
    z-index: 5;
}

.cta-section{
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.cta{
    border-radius: 4.375rem;
    background-color: var(--bg-cta);
    padding-top: 5.625rem;
    padding-bottom: 5.625rem;
}

footer{
    background-color: var(--bg-secondary);
    padding-top: 3.75rem;
    padding-bottom: 3.75rem;
    background-image: url(../images/footer-bg-image.svg), url(../images/footer-bg-image2.svg);
    background-repeat: no-repeat;
    background-position: 39.4% -8.375rem, 60% 8rem;
}

.footer-heading{
    font-size: 1.125rem;
}









/***************************************** Mobile Design *******************************************/

@media screen and (min-width: 1600px) {
    #home{
        width: 90rem;
        margin-inline: auto;
        max-height: 62.5rem;
    }
}

@media screen and (max-width: 991px) {
    .hero-text{
        font-size: 2.8125rem;
    }

    .rect{
        width: 13rem !important;
        height: 11.25rem !important;
    }

    .rect-small{
        width: 13rem !important;
        height: 8.75rem !important;
    }

    #products{
        background-size: 35rem;
        background-position: 50% 8rem;
    }

    .cta{
        border-radius: 3.375rem;
        padding-top: 4.625rem;
        padding-bottom: 4.625rem;
        padding-left: 3rem;
        padding-right: 3rem;
    }

    footer{
        background-position: 35% -8.375rem, 70% 10rem;
    }
}

@media screen and (max-width: 767px) {
    .section,
    .cta-section{
        padding-top: 4.625rem;
        padding-bottom: 4.625rem;
    }

    .hero-content{
        width: 100%;
    }

    .hero-text{
        font-size: 1.875rem;
    }

    .hero-sub-text{
        width: 100%;
    }

    footer{
        background-position: -12% 3.375rem, 80% 15rem;
    }

    .footer{
        flex-direction: column;
    }

    .contact-address{
        width: 100%;
    }
}

@media screen and (max-width: 650px) {
    .service-wrapper{
        flex-direction: column !important;
    }

    .services{
        width: 21rem;
    }

}

@media screen and (max-width: 575px) {
    .overlay{
        font-size: 1rem;
    }

    .h3{
        font-size: 1.25rem;
    }

    .cta{
        border-radius: 2rem;
        padding: 3.3rem;
    }

    .product-image-wrapper{
        padding-right: .5rem;
    }
}


@media screen and (max-width: 531px) {
    .product-image-wrapper{
        margin-top: 2rem;
        align-self: center !important;
    }

    .rect-wrapper{
        gap: 0.7rem !important;
    }

    .second-rectangle{
        margin-top: -2rem;
    }

    .rect{
        width: 11rem !important;
        height: 9.25rem !important;
    }
    
    .rect-small{
        width: 11rem !important;
        height: 7rem !important;
    }
}

@media screen and (max-width: 380px) {
    .rect{
        width: 8.5rem !important;
        height: 8.5rem !important;
    }

    .rect-small{
        width: 8.5rem !important;
        height: 6rem !important;
    }

    #services{
        width: 100%;
        max-width: 100%;
        padding-inline: 1rem;
    }

    .services{
        width: 100%;
        max-width: 100%;
    }
}